@import "../../../../styles/_variables.scss";

.legal-container {
    padding-left: 2rem;
    padding-right: 2rem;

    @media (max-width: 1024px) {
    }

    @media (max-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media (max-width: 426px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.link-home .link-text {
    display: inline; 
}

.link-home .icon-close {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .link-home .link-text {
        display: none; 
    }
    .link-home .icon-close {
        display: inline; 
        text-decoration: none !important;
    }
}
