<div class="container-fluid legal-notices">
  <div class="row">
    <div class="col-12 mt-5">
      <h2 class="mt-4">Mentions légales</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 mt-7">
      <h3><strong>Informations légales</strong></h3>
      <p><strong>Éditeur du site :</strong> Kathryn Ward</p>
      <p><strong>Forme juridique :</strong> Auto-entreprise</p>
      <p><strong>Adresse du siège social :</strong> 24 route des Acacias, 33141 Villegouge, Aquitaine, France</p>
      <p><strong>SIRET :</strong> 535253215</p>
      <p>Ce site est édité à titre professionnel en tant qu'auto-entreprise.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-7">
      <h3><strong>Hébergement</strong></h3>
      <p>L'hébergement de ce site est assuré par HOSTINGER INTERNATIONAL LTD.</p>
      <p><strong>Adresse :</strong> 61 Lordou Vironos Street, 6023 Larnaca, Chypre</p>
      <p><strong>Contact :</strong> <a href="https://www.hostinger.fr/contact">Formulaire de contact Hostinger</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-7">
      <h3><strong>Création du site</strong></h3>
      <p>Le site a été conçu et développé par Luc Jaubert.</p>
      <p><strong>Adresse :</strong> 26 cours Balguerie Stuttenberg, 33300 Bordeaux</p>
      <p><strong>Site web :</strong> <a href="https://lucjaubert.com">lucjaubert.com</a></p>
    </div>
  </div>
</div>
