// Couleurs du thème
$theme-colors: (
  "purple-dark": #5E4C64,
  "purple-light": #7860A4,
  "grey": #757575,
  "light-grey": #cccccc,
  "red": #D64C5B,
  "green": #A4BA63,
  "white": #F5F5F5,
);

// Tailles des bordures
$border-size: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
  "6": 6px,
  "7": 7px,
  "8": 8px,
  "9": 9px,
  "10": 10px,
);

// Tailles de police
$font-size: (
  "10": 0.75rem, // 12px
  "20": 0.875rem, // 14px
  "30": 1rem, // 16px
  "40": 1.25rem, // 20px
  "50": 1.5rem, // 24px
  "60": 1.75rem, // 28px
  "70": 2rem, // 32px
  "80": 2.25rem, // 36px
  "90": 2.5rem, // 40px
  "100": 2.75rem, // 44px
  "110": 3rem, // 48px
  "120": 3.25rem, // 52px
  "130": 3.5rem, // 56px
  "140": 3.75rem, // 60px
  "150": 4rem, // 64px
  "160": 4.25rem, // 68px
);

// Poids des polices
$font-weight: (
  "bold": 700,
  "regular": 400,
);

// Points de rupture pour les réponses
$breakpoints: (
  "xs": 375px,  // Extra small devices (portrait phones)
  "sm": 425px,  // Small devices (landscape phones)
  "md": 768px,  // Medium devices (tablets)
  "lg": 1024px, // Large devices (desktops)
  "xl": 1440px, // Extra large devices (large desktops)
  "xxl": 1908px // Extra extra large devices (very large desktops)
);

// _variables.scss
$breakpoint-xs: 375px;
$breakpoint-sm: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1980px;


// Espacements
$spacers: (
  "0": 0rem,
  // 0px
  "1": 0.125rem,
  // 2px
  "2": 0.25rem,
  // 4px
  "3": 0.5rem,
  // 8px
  "4": 0.75rem,
  // 12px
  "5": 1rem,
  // 16px
  "6": 1.5rem,
  // 24px
  "7": 2rem,
  // 32px
  "8": 2.5rem,
  // 40px
  "9": 3.5rem,
  // 56px
  "10": 4rem,
  // 64px
  "11": 4.5rem,
  // 72px
  "12": 5rem,
  // 80px
  "13": 6rem,
  // 96px
  "14": 8rem,
  // 128px
  "15": 11rem,
  // 176px
  "16": 12rem,
  // 192px
  "17": 13rem,
  // 208px
  "18": 14rem,
  // 224px
  "19": 15rem,
  // 240px
  "20": 16rem,
  // 256px
  "21": 17rem,
  // 272px
  "22": 18rem,
  // 288px
  "23": 19rem,
  // 304px
  "24": 20rem,
  // 320px
  "25": 21rem,
  // 336px
  "26": 22rem,
  // 352px
  "27": 23rem,
  // 368px
  "28": 24rem,
  // 384px
  "29": 25rem,
  // 400px
  "30": 26rem,
  // 416px
  "31": 27rem,
  // 432px
  "32": 28rem,
  // 448px
  "33": 29rem,
  // 464px
  "34": 30rem,
  // 480px
  "35": 31rem,
  // 496px
  "36": 32rem,
  // 512px
  "37": 33rem,
  // 528px
  "38": 34rem,
  // 544px
  "39": 35rem,
  // 560px
  "40": 36rem,
  // 576px
  "41": 37rem,
  // 592px
  "42": 38rem,
  // 608px
  "43": 39rem,
  // 624px
  "44": 40rem,
  // 640px
  "45": 41rem,
  // 656px
  "46": 42rem,
  // 672px
  "47": 43rem,
  // 688px
  "48": 44rem,
  // 704px
  "49": 45rem,
  // 720px
  "50": 46rem,
  // 736px
  "51": 47rem,
  // 752px
  "52": 48rem,
  // 768px
  "53": 49rem,
  // 784px
  "54": 50rem,
  // 800px
  "55": 51rem,
  // 816px
  "56": 52rem,
  // 832px
  "57": 53rem,
  // 848px
  "58": 54rem,
  // 864px
  "59": 55rem,
  // 880px
  "60": 56rem,
  // 896px
  "61": 57rem,
  // 912px
  "62": 58rem,
  // 928px
  "63": 59rem,
  // 944px
  "64": 60rem,
  // 960px
  "65": 61rem,
  // 976px
  "66": 62rem,
  // 992px
  "67": 63rem,
  // 1008px
  "68": 64rem,
  // 1024px
  "69": 65rem,
  // 1040px
);

// classes for padding and margins
@each $name, $size in $spacers {
  .pl-#{$name} { padding-left: $size; }
  .pr-#{$name} { padding-right: $size; }
  .pt-#{$name} { padding-top: $size; }
  .pb-#{$name} { padding-bottom: $size; }
  .ml-#{$name} { margin-left: $size; }
  .mr-#{$name} { margin-right: $size; }
  .mt-#{$name} { margin-top: $size; }
  .mb-#{$name} { margin-bottom: $size; }
  .px-#{$name} { padding-left: $size; padding-right: $size; }
  .py-#{$name} { padding-top: $size; padding-bottom: $size; }
  .mx-#{$name} { margin-left: $size; margin-right: $size; }
  .my-#{$name} { margin-top: $size; margin-bottom: $size; }
}

// Tailles d'icônes (exemple)
$icon-sizes: (
  small: map-get($font-size, "10"),
  medium: map-get($font-size, "30"),
  large: map-get($font-size, "40"),
);

@each $name, $value in $icon-sizes {
  .icon-#{$name} { font-size: $value; }
}

