@import "./_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Atkinson Hyperlegible Reg';
    src: url('/assets/fonts/AtkinsonHyperlegible-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bd';
    src: url('/assets/fonts/AtkinsonHyperlegible-Bold.woff') format('truetype');
}

@font-face {
    font-family: 'Garamond Premier Pro';
    src: url('/assets/fonts/GaramondPremrPro.woff') format('truetype');
}

@font-face {
    font-family: 'Garamond Premier Pro Bd';
    src: url('/assets/fonts/GaramondPremrPro-Bd.woff') format('truetype');
}

@font-face {
    font-family: 'American Typewriter';
    src: url('/assets/fonts/Times-Roman.woff') format('truetype');
}

.container {
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
}

#app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 110vh; 

    @media (max-width: $breakpoint-3xl) {
        padding: 0 20rem; 
    }

    @media (max-width: $breakpoint-xxl) {
        padding: 0 14rem; 
    }

    @media (max-width: $breakpoint-xl) {
        padding: 0 12rem; 
    }

    @media (max-width: $breakpoint-lg) {
        padding: 0 8rem; 
    }

    @media (max-width: $breakpoint-md) {
        padding: 0 1rem; 
    }
}

#page {
    flex: 1;
    min-height: calc(110vh - 100px); 
}

app-footer {
    width: 100%;
    height: 100px;
    margin-top: auto; 
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: map-get($theme-colors, "purple-dark");
    background-color: map-get($theme-colors, "white");
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p, ul, li, a {
    font-weight: map-get($font-weight, "regular");
}

h1 {
    font-family: 'Garamond Premier Pro';
    color: map-get($theme-colors, "red");
    font-size: map-get($font-size, "150");
}

h2 {
    font-family: 'Garamond Premier Pro';
    color: map-get($theme-colors, "purple-dark");
    font-size: map-get($font-size, "90");
}

h3 {
    font-family: 'Garamond Premier Pro';
    color: map-get($theme-colors, "purple-dark");
    font-size: map-get($font-size, "50");
}

h4 {
    font-family: 'Garamond Premier Pro';
    color: map-get($theme-colors, "purple-dark");
    font-size: map-get($font-size, "40");
}

a {
    color: map-get($theme-colors, "purple-dark");
    font-size: map-get($font-size, "30");
}

p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: map-get($theme-colors, "purple-dark");
    font-size: map-get($font-size, "30");
}

@media (max-width: 1024px) {
    h1 { font-size: calc(map-get($font-size, "150") * 0.9); }
    h2 { font-size: calc(map-get($font-size, "90") * 0.9); }
    h3 { font-size: calc(map-get($font-size, "50") * 0.9); }
    p, ul, li, a { font-size: calc(map-get($font-size, "30") * 0.9); }
}

@media (max-width: 768px) {
    h1 { font-size: calc(map-get($font-size, "150") * 0.8); }
    h2 { font-size: calc(map-get($font-size, "90") * 0.8); }
    h3 { font-size: calc(map-get($font-size, "50") * 0.8); }
    p, ul, li, a  { font-size: calc(map-get($font-size, "30") * 0.8); }
}

@media (max-width: 425px) {
    h1 { font-size: calc(map-get($font-size, "150") * 0.7); }
    h2 { font-size: calc(map-get($font-size, "90") * 0.7); }
    h3 { font-size: calc(map-get($font-size, "50") * 0.7); }
    p, ul, li, a  { font-size: calc(map-get($font-size, "30") * 0.7); }
}


@each $breakpoint, $breakpoint-value in $breakpoints {
  @each $name, $size in $spacers {
    .p-#{$breakpoint}-#{$name} {
      @media (min-width: #{$breakpoint-value}) {
        padding: $size;
      }
    }
  }
}
