<div class="container-fluid book-promotion">
  <div class="row">
      <div class="col-md-4">
          <img src="assets/grapes.jpg" alt="Grappes de raisins" class="img-fluid">
          <div class="book-details mt-3">
              <p>Parution : 13 juin 2024</p>
              <p>Format : 208 x 297 mm - 76 pages</p>
              <p>Prix : 38,00 €</p>
          </div>
      </div>
      <div class="col-md-8">
          <h1>ANGLAIS DU VIN</h1>
          <h2>Kathryn Walton Ward</h2>
          <h3>Une ressource précieuse pour les vignerons, sommeliers, négociants et autres acteurs de l’industrie viticole.</h3>
          <p>Kathryn Walton Ward, enseignante d’anglais et passionnée de viticulture, publie son premier ouvrage « Anglais du Vin ». Ce manuel, rédigé en anglais américain, est conçu pour les professionnels, les passionnés et les amateurs du vin, afin de les aider à maîtriser le vocabulaire technique et à améliorer leurs compétences en anglais.</p>
          <div class="points-de-vente mt-4">
              <h3>Points de vente à Bordeaux</h3>
              <ul class="list-unstyled">
                  <li>A la Librairie Mollat</li>
                  <li>A la Boutique de La Cité du Vin</li>
              </ul>
              <p>et en ligne sur <a href="https://www.mollat.com">Mollat.com</a></p>
              <button type="button" class="btn btn-primary">Acheter</button>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid additional-info">
  <div class="row">
      <div class="col-lg-8">
          <p>Kathryn Walton Ward a pensé ce livre en constatant un manque d'outils adaptés lors des cours d'anglais, qu'elle dispensait pour Winevox dans les propriétés viticoles de la région. Elle a observé que, malgré le grand besoin des professionnels du vin à maîtriser l'anglais technique, il n'existait pas de ressources spécifiques pour répondre à cette demande. Son objectif avec ce manuel est de combler cette lacune et de fournir à ces passionnés du vin un manuel pratique et efficace pour améliorer leur anglais.</p>
          <p>Voici ce que les lecteurs pourront découvrir :</p>
          <ul>
              <li>Vocabulaire spécifique : une collection de termes techniques spécifiques à la viticulture et à l'œnologie.</li>
              <li>Dialogues pratiques : des conversations pour mettre l'accent sur la pratique orale et faciliter les échanges professionnels.</li>
              <li>Grammaire adaptée : des notions de grammaire essentielles pour renforcer la maîtrise de la langue.</li>
              <li>Exercices pratiques : des exercices pour appliquer les connaissances acquises.</li>
              <li>Astuces et conseils : des recommandations utiles pour améliorer l'apprentissage et la pratique de l'anglais dans un contexte du vin.</li>
          </ul>
          <p>Née aux États-Unis, Kathryn Walton Ward a vécu au Brésil avant d'arriver en Europe. D'abord comédienne, elle se tourne rapidement vers le scénario et la réalisation. Depuis son installation dans la région bordelaise en 2011, Kathryn coache les décideurs du monde du vin en anglais. C'est ainsi qu'elle découvre l'absence d'un outil dévolu à l'apprentissage du vocabulaire anglais vitiviniculteur. Elle décide de pallier ce manque en mettant à profit sa capacité scénaristique et son expérience de l'enseignement pour offrir un manuel qui fasse la part belle à la conversation. C'est ainsi qu'est né 'Anglais du Vin'!</p>
      </div>
      <div class="col-lg-4">
          <div class="note">
              <h4>Please Note!</h4>
              <p>"En anglais, on ne donne pas son titre (fonction), mais on indique ce que l'on fait (métier), que ce soit à l'écrit ou à l'oral."</p>
              <p>"Patrick de xyz,"<br>"I am the Vineyard Manager!"<br>"I am in charge of the vineyard!"</p>
          </div>
          <img src="assets/kathryn-profile.jpg" alt="Kathryn Walton Ward" class="img-fluid rounded-circle mt-3">
      </div>
  </div>
</div>