<div class="press-content">
  <div class="background-image"></div>
  <div class="container-fluid press-promotion mt-md-10">
    <div class="title-content d-flex col-12 align-items-center">
      <div class="col-md-6 text-md-start col-10 d-flex pt-md-0 pt-12 flex-column align-items-sm-start text-md-start">
        <h2 class="subtitle">La presse parle du livre</h2>
      </div>
      <div class="col-md-6 col-2 d-flex flex-column align-items-sm-end text-md-end">
        <a href="/" class="homepage-link">Accueil</a>
      </div>
    </div>

    <div class="row mt-sm-5 mt-md-10">
      <!-- La revue du vin de France Section -->
      <div class="press-box press-box-larvdfr d-flex text-start my-6 py-7 image-first">
        <div class="col-md-6 text-center">
          <div class="press-image-container-RDVF"> 
            <img src="/assets/img/la-revue-du-vin-de-france-1.jpg" alt="Cuisine et Vins de France" loading="lazy" class="press-image">
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">La revue du vin de France</h3>
            </div>
            <p>Octobre 2024</p>
            <p>N°684</p>
            <button class="btn mt-3 text-fs-10" id="showModalRVDF">Voir l'article</button>
            <div class="col-md-11 text-center pt-6">
              <blockquote class="press-quote">
                <strong>Le livre tant attendu sur l'anglais du vin</strong></blockquote>
            </div>
          </div>
        </div>
      </div>
      <!-- Le Figaro Press Section -->
      <div class="press-box press-box-figaro d-flex pb-5 pt-7">
        <div class="col-md-6 d-flex justify-content-md-center">
          <div class="press-text-container">
            <div class="d-flex">
              <h3 class="article-title pr-2">Le Figaro Magazine</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024</p>
            <p>N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10" id="showModalFigaro">Voir l'article</button>
            <div class="col-md-11 text-center pt-6">
              <blockquote class="press-quote">
                <strong>ANGLAIS DU VIN - L'art du vin à l'anglaise</strong></blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="press-image-container pt-md-0 pt-7"> 
            <img src="/assets/img/le-figaro.jpg" alt="Le Figaro" loading="lazy" class="press-image">
          </div>
        </div>
      </div>

      <!-- Cuisine et Vins de France Section -->
      <div class="press-box press-box-cuisine d-flex text-start my-6 py-7 image-first">
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <div class="press-image-container"> 
            <img src="/assets/img/cuisine-et-vins-de-france.jpg" alt="Cuisine et Vins de France" loading="lazy" class="press-image">
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">Cuisine et Vins de France</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024</p>
            <p>N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10" id="showModalCuisine">Voir l'article</button>
            <div class="col-md-11 text-center pt-6">
              <blockquote class="press-quote">
                <strong>Do you speak wine ?</strong></blockquote>
            </div>
          </div>
        </div>
      </div>

      <!-- Les Echos Judiciaires Section -->
      <div class="press-box press-box-echos d-flex text-start my-6 py-7">
        <div class="col-md-6 d-flex justify-content-md-center">
          <div class="press-text-container">
            <div class="d-flex">
              <h3 class="article-title pr-2">Les Echos Judiciaires</h3>
            </div>
            <p>Quinzaine du 16 au 31 juillet 2024</p>
            <p>N°7131</p>
            <a href="https://www.echos-judiciaires.com/actualites/bordeaux-un-livre-pour-apprendre-langlais-du-vin/" target="_blank" class="btn mt-3 text-fs-10">Voir le site</a>
            <div class="col-md-11 text-center pt-6">
              <blockquote class="press-quote">
                <strong>Vignoble - L'ANGLAIS DU VIN</strong></blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <div class="press-image-container"> 
            <img src="/assets/img/les-echos-judiciaires.png" alt="Les Echos Judiciaires" loading="lazy" class="press-image">
          </div>
        </div>
      </div>

      <!-- Tellement Soif TV Section -->
      <div class="press-box press-box-tellementsoif d-flex my-6 py-7 image-first">
        <div class="col-md-6 text-center justify-content-md-center pt-md-0 pt-7">
          <div class="press-video-container">
            <iframe
              src="https://tellementsoif.tv/o/VideoContent/cahier-de-vacances-ameliorez-votre-anglais-du-vin_vco_29646211"
              frameborder="0"
              allow="encrypted-media"
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">Tellement Soif</h3>
            </div>
            <p>Mercredi 24 juillet</p>
            <p>Teaser, vidéo intégrale réservée aux abonnés</p>
            <a href="https://tellementsoif.tv/o/VideoContent/cahier-de-vacances-ameliorez-votre-anglais-du-vin_vco_29646211"
              target="_blank" class="btn mt-3 text-fs-10">Vidéo intégrale</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImage">
</div>
