<div class="press-content">
  <div class="background-image"></div>
  <div class="container-fluid press-promotion mt-md-10">
    <div class="title-content d-flex col-12 align-items-center">
      <div class="col-md-6 text-md-start col-10 d-flex pt-md-0 pt-12 flex-column align-items-sm-start text-md-start">
        <h2 class="subtitle">La presse parle du livre</h2>
      </div>
      <div class="col-md-6 col-2 d-flex flex-column align-items-sm-end text-md-end">
        <a href="/" class="homepage-link">Accueil</a>
      </div>
    </div>

    <div class="row mt-sm-5 mt-md-10">
      <!-- La revue du vin de France Section -->
      <div class="press-box press-box-larvdfr d-flex text-start my-6 py-7 image-first">
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <blockquote class="press-quote">
            <strong>Le livre tant attendu sur l'anglais du vin</strong><br><br>
            “I can't spit this out, it's too luscious.”<br><br>Autrement dit : « Je ne peux pas recracher ça, c'est trop voluptueux. » Merci, chère Kathryn Walton Ward, pour votre *Anglais du Vin*, nouveau manuel conçu pour maîtriser enfin le vocabulaire technique du vin de McLaren Vale en Australie à Rutherford, Californie...
          </blockquote>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">La revue du vin de France</h3>
            </div>
            <p>Octobre 2024</p>
            <p>N°684</p>
            <button class="btn mt-3 text-fs-10" id="showModalRVDF">Voir la page</button>
          </div>
        </div>
      </div>

      <!-- Le Figaro Press Section -->
      <div class="press-box press-box-figaro d-flex py-5">
        <div class="col-md-6 d-flex justify-content-md-center">
          <div class="press-text-container">
            <div class="d-flex">
              <h3 class="article-title pr-2">Le Figaro Magazine</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024</p>
            <p>N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10" id="showModalFigaro">Voir la page</button>
          </div>
        </div>
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <blockquote class="press-quote">
            <strong>ANGLAIS DU VIN - L'art du vin à l'anglaise</strong><br><br>
            Destiné aux professionnels, aux passionnés et aux amateurs de vin, le livre "Anglais du vin" est un outil indispensable pour maîtriser le vocabulaire technique et améliorer ses compétences en anglais. 
            Écrit en anglais américain par la talentueuse Kathryn Walton Ward, cet ouvrage est une source précieuse pour tous les acteurs du domaine viticole. Du vigneron en passant par le sommelier ou le négociant, 
            il leur permet de découvrir des termes techniques relatifs à l'œnologie, une grammaire adaptée, des dialogues et des exercices pratiques, ainsi que des astuces et des conseils pour manier l’art du vin à l’anglaise.
          </blockquote>
        </div>
      </div>

      <!-- Cuisine et Vins de France Section -->
      <div class="press-box press-box-cuisine d-flex text-start my-6 py-7 image-first">
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <blockquote class="press-quote">
            <strong>Do you speak wine ? Non ? Alors c'est le moment de repartir à l'école</strong><br><br>
            avec ce petit guide pratique sur l’anglais du vin, conçu par Kathryn Walton Ward, enseignante anglaise, pour les amateurs de vin afin de les aider à maîtriser le vocabulaire technique. 
            Des conseils, des exercices pratiques, de leçons de grammaire et d’orthographe pour devenir incollable en s'amusant.
          </blockquote>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">Cuisine et Vins de France</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024</p>
            <p>N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10" id="showModalCuisine">Voir la page</button>
          </div>
        </div>
      </div>

      <!-- Les Echos Judiciaires Section -->
      <div class="press-box press-box-echos d-flex text-start my-6 py-7">
        <div class="col-md-6 d-flex justify-content-md-center">
          <div class="press-text-container">
            <div class="d-flex">
              <h3 class="article-title pr-2">Les Echos Judiciaires</h3>
            </div>
            <p>Quinzaine du 16 au 31 juillet 2024</p>
            <p>N°7131</p>
            <a href="https://www.echos-judiciaires.com/actualites/bordeaux-un-livre-pour-apprendre-langlais-du-vin/" target="_blank" class="btn mt-3 text-fs-10">Voir le site</a>
          </div>
        </div>
        <div class="col-md-6 text-center pt-md-0 pt-7">
          <blockquote class="press-quote">
            <strong>Vignoble - L'ANGLAIS DU VIN</strong><br><br>
            Que ce soit en propriété, dans le vignoble ou dans le commerce du vin, l'anglais est indispensable. Mais bien souvent, le vocabulaire technique manque ! 
            C'est le constat de Kathryn Walton Ward, enseignante, qui dispensait des cours d’anglais pour Winevox dans les propriétés viticoles du Bordelais. 
            Elle a alors pensé cet ouvrage <em>Anglais du vin</em>, dans lequel elle fournit tout le vocabulaire spécifique (termes techniques), 
            des dialogues et exercices pratiques, ainsi que quelques astuces et des conseils. Le manuel propose une approche complète et immersive et se structure 
            autour de la visite d'une propriété fictive produisant du vin rouge dans le Bordelais.
          </blockquote>
        </div>
      </div>

      <!-- Tellement Soif TV Section -->
      <div class="press-box press-box-tellementsoif d-flex my-6 py-7 image-first">
        <div class="col-md-6 text-center justify-content-md-center pt-md-0 pt-7">
          <div class="press-video-container">
            <iframe
              src="https://tellementsoif.tv/o/VideoContent/cahier-de-vacances-ameliorez-votre-anglais-du-vin_vco_29646211"
              frameborder="0"
              allow="encrypted-media"
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-center">
          <div class="press-text-container text-start">
            <div class="d-flex">
              <h3 class="article-title pr-2">Tellement Soif</h3>
            </div>
            <p>Mercredi 24 juillet</p>
            <p>Teaser, vidéo intégrale réservée aux abonnés</p>
            <a href="https://tellementsoif.tv/o/VideoContent/cahier-de-vacances-ameliorez-votre-anglais-du-vin_vco_29646211"
              target="_blank" class="btn mt-3 text-fs-10">Vidéo intégrale</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImage">
</div>
