<div class="press-content">
  <div class="background-image"></div>
  <div class="container-fluid press-promotion mt-md-13">
    <div class="title-content d-flex">
      <div class="col-md-6 col-12 px-10 px-md-0 d-flex flex-column align-items-sm-start text-md-start">
        <h2 class="subtitle">La presse parle du livre</h2>
      </div>
      <div class="col-md-6 col-12 px-10 px-md-0 d-flex flex-column align-items-sm-end text-md-end">
        <a href="/" class="homepage-link">Accueil</a>
      </div>
    </div>

    <div class="row mt-12">
      <!-- Le Figaro Press Section -->
      <div class="press-box d-flex text-start mb-6 py-7">
        <div class="col-md-6">
          <div class="press-text-container"> 
            <div class="d-flex">
              <h3 class="article-title pr-2">Le Figaro</h3>
              <h3> - Presse papier</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024 N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10">Voir la page</button>
          </div>
        </div>
        <div class="col-md-6 text-end">
          <div class="press-image-container"> 
            <img src="/assets/img/le-figaro_082024.jpg" alt="Le Figaro" loading="lazy" class="press-image">
          </div>
        </div>
      </div>

      <!-- Les Echos Judiciaires Section -->
      <div class="press-box d-flex text-start mb-6 py-7">
        <div class="col-md-6 text-start">
          <div class="press-image-container"> 
            <img src="/assets/img/les-echos-judiciaires.png" alt="Les Echos Judiciaires" loading="lazy" class="press-image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="press-text-container">
            <div class="d-flex">
              <h3 class="article-title pr-2">Les Echos Judiciaires</h3>
              <h3> - Presse papier et presse web</h3>
            </div>
            <p>Quinzaine du 16 au 31 juillet 2024 N°7131</p>
            <a href="https://www.echos-judiciaires.com/actualites/bordeaux-un-livre-pour-apprendre-langlais-du-vin/" target="_blank" class="btn mt-3 text-fs-10">Voir le site</a>
          </div>
        </div>
      </div>

      <!-- Cuisine et Vins de France Section -->
      <div class="press-box d-flex text-start mb-6 py-7">
        <div class="col-md-6">
          <div class="press-text-container"> 
            <div class="d-flex">
              <h3 class="article-title pr-2">Cuisine et Vins de France</h3>
              <h3> - Presse papier</h3>
            </div>
            <p>Vendredi 30 et samedi 31 août 2024 N°24884 et N°24889</p>
            <button class="btn mt-3 text-fs-10">Voir la page</button>
          </div>
        </div>
        <div class="col-md-6 text-end">
          <div class="press-image-container"> 
            <img src="/assets/img/cuisine-et-vins-de-france.jpg" alt="Cuisine et Vins de France" loading="lazy" class="press-image">
          </div>
        </div>
      </div>

      <!-- Tellement Soif TV Section -->
      <div class="press-box d-flex mb-6 py-7">
        <div class="col-md-6 text-start">
          <div class="press-image-container"> 
            <img src="/assets/img/tellement-soif.jpg" alt="Tellement Soif" loading="lazy" class="press-image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="press-text-container"> 
            <div class="d-flex">
              <h3 class="article-title pr-2">Tellement Soif</h3>
              <h3> - TV</h3>
            </div>
            <p>Le mercredi 24 juillet 2024 - Réservé aux abonnés</p>
            <button class="btn mt-3 text-fs-10">Voir la vidéo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
