<footer class="footer-container mt-10 bg-purple-dark text-white">
  <div class="container">
    <div class="row">
      <div class="d-flex col-md-6 flex-md-row flex-column py-6">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-start text-center">
          <p>Contact :</p>
          <a href="mailto:kwaltorward&#64;orange.fr">kwaltonward&#64;orange.fr</a>
          <a routerLink="/mentions-legales" class="mt-lg-9 mt-4">Mentions légales</a>
        </div>

        <div class="graphism col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
          <p>Graphisme :</p>
          <a href="https://www.studio-et.de/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/logo_studioet_white.webp" alt="Logo Studio ET" class="logo-studioet mb-2">
          </a>
          <a href="https://www.studio-et.de/" target="_blank" rel="noopener noreferrer">
            Graphisme - Sandra Ewald - www.studio-et.de
          </a>
        </div>
      </div>

      <div class="col-md-6 d-flex flex-md-row flex-column align-items-center text-center">
        <img src="/assets/img/logo-ozco-blanc.png" alt="OZCO" class="logo-ozco mb-2">
        <div class="vertical-divider"></div>
        <div class="press-content d-flex flex-column text-center text-md-start">
          <p>Contacts Presse :</p>
          <a href="tel:+33614664348">Philippe Maurange | p.maurange&#64;ozco.eu | +33614664348</a>
          <a href="tel:+33606890699">Lucie Latour | l.latour&#64;ozco.eu | +33660890699</a>
        </div>
      </div>
    </div>

    <div class="row mt-7 dev">
      <div class="col-12 text-center">
        <a href="http://lucjaubert.com/" target="_blank" rel="noopener noreferrer" class="text-white text-decoration-none">
          Développement Web : Luc Jaubert - LJ Studio Web
        </a>
      </div>
    </div>
  </div>
</footer>

