<footer class="footer-container mt-10 bg-purple-dark text-white">
  <div class="row col-md-12">
    <div class="col-md-6 d-flex flex-column py-lg-8 px-lg-25">
        <p>Contact :</p>
        <a href="mailto:kwaltorward&#64;orange.fr">kwaltorward&#64;orange.fr</a>
        <a href="#" class="mt-5 text-fs-20">Mentions légales</a>
    </div>
    <div class="col-md-6 d-flex align-items-center text-center">
      <img src="/assets/img/logo-ozco-blanc.png" alt="OZCO" class="mb-2">
      <div class="vertical-divider"></div>
      <div class="press-content d-flex flex-column text-start">
        <p>Contacts Presse :</p>
        <a href="tel:+0614664348">Philippe Maurange | p.maurange&#64;ozco.eu | 06 14 66 43 48</a>
        <a href="tel:+0606890699">Lucie Latour | l.latour&#64;ozco.eu | 06 60 89 06 99</a>
      </div>
    </div>
  </div>
</footer>
