<footer class="footer-container mt-10 bg-purple-dark text-white">
  <div class="d-flex flex-md-row flex-column col-md-12">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-start text-center py-6">
      <p>Contact :</p>
      <a href="mailto:kwaltorward&#64;orange.fr">kwaltorward&#64;orange.fr</a>
      <a routerLink="/mentions-legales" class="mt-4 text-fs-10">Mentions légales</a>
    </div>
    <div class="col-md-8 d-flex flex-md-row flex-column align-items-center text-center">
      <img src="/assets/img/logo-ozco-blanc.png" alt="OZCO" class="logo-ozco mb-2">
      <div class="vertical-divider"></div>
      <div class="press-content d-flex flex-column text-center text-md-start">
        <p>Contacts Presse :</p>
        <a href="tel:+33614664348">Philippe Maurange | p.maurange&#64;ozco.eu | +33614664348</a>
        <a href="tel:+33606890699">Lucie Latour | l.latour&#64;ozco.eu | +33660890699</a>
      </div>
    </div>
  </div>
</footer>
