@import "../../../styles/variables.scss";

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7860A4; 
    color: #ffffff;
    padding: 3rem 14rem;

    @media (max-width: $breakpoint-lg) {
        padding: 3rem 6rem;
    }

    @media (max-width: $breakpoint-sm) {
        padding: 3rem 4rem; 
    }
  }

  .logo-ozco {
    width: 180px;
    height: auto;
    margin-right: 10px;

    @media (max-width: $breakpoint-md) {
      width: 150px;
      height: auto;
    }
  }
  
  .footer-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .footer-contact, .footer-logo, .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo img {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer p, footer a {
    margin: 5px 0;
  }

  .vertical-divider {
    height: 100px;
    width: 2px;
    background-color: map-get($theme-colors, "white");
    margin: 0 20px 0 5px;

    @media (max-width: $breakpoint-md) {
        height: 1px; 
        margin: 5px 0 20px 0;
        width: 100%; 
    }
  }
  
  