@import "../../../styles/variables.scss";

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7860A4;
  color: #ffffff;
  padding: 3rem 14rem;

  @media (max-width: $breakpoint-lg) {
    padding: 3rem 6rem;
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem;
  }
}

.logo-ozco,
.logo-studioet {
  width: 180px;
  height: auto;

  @media (max-width: $breakpoint-md) {
    width: 150px;
    height: auto;
  }
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.footer-contact,
.footer-logo,
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: $breakpoint-sm) {
    margin-bottom: 2rem;
  }
}

.footer-logo img {
  margin-bottom: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

footer p,
footer a {
  margin: 5px 0;
  color: #ffffff;
}

.logo-ozco {

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
